In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import re
from datetime import timedelta, datetime
import datetime

In [2]:
df = pd.read_csv('all_accident_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            15120 non-null  int64
 1   index                 15120 non-null  int64
 2   crash_url             15120 non-null  object
 3   case_id               15099 non-null  object
 4   crash_id              15120 non-null  int64
 5   crash_city            15120 non-null  object
 6   crash_date            15120 non-null  object
 7   crash_latitude        15120 non-null  float64
 8   crash_longitude       15120 non-null  float64
 9   police_dept           15120 non-null  object
 10  accident_factor       13220 non-null  object
 11  speed_limit           15120 non-null  object
 12  crash_location        15120 non-null  object
 13  num_of_injuries       15120 non-null  int64
 14  num_of_vehicles       15120 non-null  int64
 15  num_of_occupants      15120 non-null  int64
 16  at_fault              15120 non-null  int64
 17  car_contained_injury  15120 non-null  int64
 18  car_make              14138 non-null  object
 19  car_year              12954 non-null  object
 20  car_color             14260 non-null  object
 21  car_vin               15120 non-null  object
 22  driver_age            10746 non-null  float64
 23  driver_gender         12642 non-null  object
 24  driver_ethnicity      12642 non-null  object
 25  driver_residence      0 non-null      float64
 26  driver_car_damage     15120 non-null  object
 27  driver_license_type   12642 non-null  object
 28  driver_license_state  13369 non-null  object
 29  driver_insured        15120 non-null  object
 30  traffic_conditions    14764 non-null  object
 31  weather_conditions    14597 non-null  object
dtypes: float64(4), int64(8), object(20)
memory usage: 3.7+ MB

In [4]:
from prepare import prep_driver_data, prep_vehicle_data, prep_damage_data, initial_prep,create_fault_factor_cols
df = initial_prep(df)
df = prep_driver_data(df)
df = prep_vehicle_data(df)
df = prep_damage_data(df)
df = create_fault_factor_cols(df)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
dtypes: float64(2), int64(25), object(11)
memory usage: 4.5+ MB

In [6]:
row = df.crash_date[0]

In [5]:
df.crash_date = df.crash_date.apply(lambda row: pd.to_datetime(row).strftime('%m/%d/%Y %H:%M'))
# extracting date from timestamp
#df['crash_time'] = df.crash_date.apply(lambda row: pd.to_datetime(row).strftime('%H:%M'))

df['crashhr'] = pd.to_datetime(df.crash_date).dt.hour
df['crashhr'] = df.crashhr.astype(str)
#######
df['crashmin'] = pd.to_datetime(df.crash_date).dt.minute
df['crashmin'] = df.crashmin.astype(str)
########
#combining 
df['crash_time_24hr'] = (df.crashhr + '.' + df.crashmin)


#float value to bin time

df['crash_time_24hr'] = df['crash_time_24hr'].astype('float64')

df['crash_date'] = pd.to_datetime(df.crash_date).dt.date
df['crash_date'] = df.crash_date.astype(str)


#dropping several columns
df.drop(columns = {'crashhr', 'crashmin'}, inplace = True)

In [6]:
df.crash_time_24hr.value_counts()

18.00    119
16.00    114
19.00    113
17.00    108
16.30    105
        ...
5.29       1
23.29      1
3.14       1
6.28       1
5.28       1
Name: crash_time_24hr, Length: 1243, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
 38  crash_time_24hr       15120 non-null  float64
dtypes: float64(3), int64(25), object(11)
memory usage: 5.2+ MB

In [7]:
# set DL state as Texas, Other, or NaN
#df.driver_license_state = np.where(df.driver_license_state.isin(['UNKNOWN', 'Unknown']), np.nan, df.driver_license_state)
#df.driver_license_state = np.where(df.driver_license_state.isin(['Texas', np.nan]), df.driver_license_state, 'Other')

# drop columns
#df = df.drop(columns=['Unnamed: 0', 'crash_city', 'police_dept', 'driver_residence', 'index','crash_url'])

In [8]:
# Altering speed limit coliumn to just cotain numerical value

In [15]:
#df.weather_conditions.value_counts()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_date            15120 non-null  object
 2   crash_latitude        15120 non-null  float64
 3   crash_longitude       15120 non-null  float64
 4   accident_factor       13220 non-null  object
 5   speed_limit           15120 non-null  object
 6   crash_location        15120 non-null  object
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         13573 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  crash_time            15120 non-null  object
dtypes: float64(2), int64(17), object(14)
memory usage: 3.8+ MB

In [17]:
#df2 = df[(df.crash_date.astype(str) == '2021-02-25') & (df.crash_date.astype(str) >= '2021-02-24')]

In [33]:
#df2[['crash_location', 'crash_date', 'weather_conditions', 'crash_time']]

In [19]:
#df.weather_conditions = np.where(((df.crash_date.astype(str) == '2021-0.aggregate-14') & (df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)')), 'SNOW', df.weather_conditions)

In [23]:
#date_list1 = ['2021-02-13','2021-02-17','2021-07-21','2021-02-19','2021-02-14','2021-02-25','2021-02-15','2021-02-16', '2021-02-20']     
#for date in date_list1:
 #   df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & ((df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)') | (df.weather_conditions == 'UNKNOWN')) ), 'SNOW', df.weather_conditions) 
    
#date_list2 = ['2021-02-25','2021-07-14']     
#for date in date_list2:
 #   df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & (df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)')), 'CLOUDY', df.weather_conditions)

In [36]:
#df.weather_conditions.value_counts()

In [34]:

#d3 = df[df.crash_date.astype(str) == '2021-06-14']
#d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts()

In [35]:
#dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]

for date in dates:
    d3 = df[df.crash_date.astype(str) == date]
    print(len(dates))
    print(date)
    print(d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts(dropna = False))
    print('----------------------')

In [7]:
def clean_weather_cats(df):
    '''
    fucntion takes in a df and lower cases, and removes whitespaces from all weather conditions.
    changing unknown, other (explain in Narrative), fog, blowing sand/snow and combining it into
    value defined as other.
    '''
    
    # turn object into string and lowercase, strip terminal whitespace
    df.weather_conditions = df.weather_conditions.apply(lambda row: str(row).lower().strip())
    # convert categories no in weather list into "other"
    weather = ['clear', 'cloudy', 'rain', 'sleet', 'hail', 'snow', 'nan']
    df.weather_conditions = df.weather_conditions.apply(lambda row: row
                                                        if any(x in row for x in weather)
                                                        and 'sand' not in row
                                                        else 'other')
    # fill string "nan" values with np.nan for later handling
    df.weather_conditions = df.weather_conditions.apply(lambda row: np.nan
                                                        if row == 'nan'
                                                        else row)
    
    return df

In [8]:
df = clean_weather_cats(df)

In [12]:
df.weather_conditions.value_counts(dropna =False)

clear         9590
cloudy        2896
rain          1247
NaN            523
sleet/hail     384
snow           296
other          184
Name: weather_conditions, dtype: int64

In [ ]:
dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]
def weather_condtion_prep(df, dates):
    '''
    dates variable needs to be definded with example below:
    dates = [str(x) for x in df[df.weather_conditions == 'UNKNOWN'].crash_date.value_counts().sort_index().index.tolist()]
    '''
for date in dates:
    d3 = df[df.crash_date.astype(str) == date]
    d3[['crash_date', 'weather_conditions']].weather_conditions.value_counts()
    df.weather_conditions = np.where(((df.crash_date.astype(str) == str(date)) & (df.weather_conditions == 'UNKNOWN')))

In [23]:
#df[df.weather_conditions == 'OTHER (EXPLAIN IN NARRATIVE)'].loc[df['crash_date'] == '2021-02-14'] 
#df[(df.crash_date.astype(str) == '2021-07-14') & (df.weather_condistions == 'OTHER (EXPLAIN IN NARRATIVE)')]

In [37]:
#df[(df.crash_date.astype(str) == '2021-06-14')].groupby(['crash_date']).weather_conditions.value_counts()

In [38]:
#df[(df.crash_date.astype(str) >= '2021-02-14') & (df.crash_date.astype(str) <= '2021-02-15')].set_index('crash_date').sort_index().head(10)

In [11]:
df.weather_conditions.isna().value_counts()

False    14597
True       523
Name: weather_conditions, dtype: int64

In [39]:
#df[df.crash_date.astype(str) == '2021-02-25'].head(1)

In [16]:
#df.weather_conditions = np.where(df.weather_conditions.isin(['OTHER (EXPLAIN IN NARRATIVE)']), np.nan, df.weather_conditions)

In [40]:
#df[(df.crash_date.astype(str) >= '2020-12-27') & (df.crash_date.astype(str) <= '2021-01-09')].set_index('crash_date').sort_index().head(5)

In [41]:
#df[df.weather_conditions.isna() == True].crash_date.sort_values().head(50)

In [42]:
#df[df.weather_conditions.isna() == True].crash_date.value_counts().sort_index().head(50)

In [43]:
#df.traffic_conditions.value_counts(dropna = False)

In [44]:
#df.traffic_conditions = df.traffic_conditions.apply(lambda row: str(row).lower().strip())
#df.traffic_conditions.value_counts(dropna = False).index.tolist()

In [8]:
df.replace({'marked lanes': 'marked_lanes','signal_light':'signal_light','stop sign':'stop_sign',\
                         'center stripe/divider':'center_stripe/divider','signal light with red light running camera':'signal_light',\
                         'yield_sign':'yield_sign','flashing yellow light':'flashing_light','flashing red light':'flashing_light'}, inplace = True)

In [9]:
#cleaning traffic conditions

In [10]:
def clean_road_cats(df):
    '''
    fucntion takes in a df and lower cases, and removes whitespaces from all traffic conditions.
    combines several fetaures into other, updates the value names
    '''
    
    # turn object into string and lowercase, strip terminal whitespace
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: str(row).lower().strip())
    # convert categories not in traffic conditions list into "other"
    traffic = ['marked lanes','signal light','stop sign','center stripe/divider','nan','yield sign','signal light with red light running camera','officer','flashing yellow light','flashing red light']
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: row
                                                        if any(x in row for x in traffic)
                                                        else 'other')
    # fill string "nan" values with np.nan for later handling
    df.traffic_conditions = df.traffic_conditions.apply(lambda row: np.nan
                                                        if row == 'nan'
                                                        else row)
    df.replace({'marked lanes': 'marked_lanes','signal light':'signal_light','stop sign':'stop_sign',\
                         'center stripe/divider':'center_stripe/divider','signal light with red light running camera':'signal_light',\
                         'yield_sign':'yield_sign','flashing yellow light':'flashing_light','flashing red light':'flashing_light'}, inplace = True)
    
    return df

In [10]:
df = clean_road_cats(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
 38  crash_time            15120 non-null  object
dtypes: float64(2), int64(25), object(12)
memory usage: 4.6+ MB

In [24]:
df['time_frames'] = pd.cut(df.crash_time_24hr, 
                    bins=[0,6,9,12,15,18,24], 
                    include_lowest=False,)

In [25]:
df.head(1)

,crash_url,crash_id,crash_date,crash_latitude,crash_longitude,accident_factor,speed_limit_mph,num_of_injuries,num_of_vehicles,num_of_occupants,...,rollover_damage,vehicle_burned,distraction,maneuver,speed,intoxication,fatigue,yield,crash_time_24hr,time_frames
0,https://app.myaccident.org/accident/0000281836...,18365140,2021-07-12,29.416846,-98.409521,new flyer turned unsafe,30,0,2,2,...,0,0,0,1,0,0,0,0,19.0,"(18, 24]"

In [26]:
df.time_frames.value_counts()

(18, 24]    4534
(15, 18]    3196
(12, 15]    2623
(9, 12]     1851
(0, 6]      1756
(6, 9]      1124
Name: time_frames, dtype: int64

In [20]:
df.crash_time_24hr.value_counts().head(50)

18.00    119
16.00    114
19.00    113
17.00    108
16.30    105
15.00    104
18.30     97
13.00     96
17.30     93
19.30     93
18.40     91
14.00     88
12.00     83
18.20     77
10.00     76
14.30     75
17.50     72
22.00     72
20.00     71
16.50     69
15.50     69
9.00      68
13.30     66
21.00     65
15.30     64
17.45     62
22.30     61
12.30     60
9.30      58
11.00     57
17.40     56
10.50     55
17.20     54
14.50     53
23.30     53
21.30     52
20.30     52
18.10     52
13.50     51
14.15     51
19.50     51
14.20     50
13.20     49
11.30     48
15.20     48
19.40     46
12.50     46
23.00     46
19.20     45
13.10     44
Name: crash_time_24hr, dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15120 entries, 0 to 15119
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crash_url             15120 non-null  object
 1   crash_id              15120 non-null  int64
 2   crash_date            15120 non-null  object
 3   crash_latitude        15120 non-null  float64
 4   crash_longitude       15120 non-null  float64
 5   accident_factor       15120 non-null  object
 6   speed_limit_mph       15120 non-null  int64
 7   num_of_injuries       15120 non-null  int64
 8   num_of_vehicles       15120 non-null  int64
 9   num_of_occupants      15120 non-null  int64
 10  at_fault              15120 non-null  int64
 11  car_contained_injury  15120 non-null  int64
 12  vehicle_make          13383 non-null  object
 13  vehicle_year          15120 non-null  int64
 14  vehicle_color         14260 non-null  object
 15  vin                   13252 non-null  object
 16  driver_age            15120 non-null  int64
 17  driver_gender         10864 non-null  object
 18  driver_ethnicity      10676 non-null  object
 19  dl_state              13005 non-null  object
 20  traffic_conditions    14764 non-null  object
 21  weather_conditions    14597 non-null  object
 22  cdl                   15120 non-null  int64
 23  unlicensed            15120 non-null  int64
 24  dl_class_a            15120 non-null  int64
 25  dl_class_b            15120 non-null  int64
 26  dl_class_m            15120 non-null  int64
 27  vehicle_dmg_zone      15120 non-null  int64
 28  concentrated_damage   15120 non-null  int64
 29  distributed_damage    15120 non-null  int64
 30  rollover_damage       15120 non-null  int64
 31  vehicle_burned        15120 non-null  int64
 32  distraction           15120 non-null  int64
 33  maneuver              15120 non-null  int64
 34  speed                 15120 non-null  int64
 35  intoxication          15120 non-null  int64
 36  fatigue               15120 non-null  int64
 37  yield                 15120 non-null  int64
 38  crash_time            15120 non-null  object
dtypes: float64(2), int64(25), object(12)
memory usage: 4.6+ MB

In [17]:
df["binned_hours"] = pd.cut(df.crash_time.to_timestamp.dt.hour, bins=24)

AttributeError: 'function' object has no attribute 'dt'